@font-face {
    font-family: "neutronic";
    src: url(./media/Neutronic-Medium.woff2) format("woff2"), url(./media/Neutronic-Medium.woff) format("woff");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    font-family: "neutronic";
}